<div>
	<div id="wrapper">
		<div id="centerColumn">
			<div class="image" style="height:428px">
				<a href="/painting/1" ><img src="/images/img1_320.jpg" alt="" title="click for full image" width="320"  /></a>
			</div>
			<div class="spacer"></div>
			<div class="image" style="height:405px">
				<a href="/painting/2" ><img src="/images/img2_320.jpg" alt="" title="click for full image" width="320" /></a>
			</div>
			<div class="spacer"></div>
			<div class="image" style="height:325px">
				<a href="/painting/7" ><img src="/images/img7_320.jpg" alt="" title="click for full image" width="320" /></a>
			</div>
			<div class="spacer"></div>
			<div class="image" style="height:639px">
				<a href="/painting/10" ><img src="/images/img10_320.jpg" alt="" title="click for full image" width="320" /></a>
			</div>
			<div class="spacer"></div>
											
		</div>
	</div>
	<div id="leftColumn">
		<div class="image" style="height:197px">
			<a href="/painting/11" ><img src="/images/img11_320.jpg" alt="" title="click for full image" width="320" /></a>
		</div>
		<div class="spacer"></div>			
		<div class="image" style="height:215px">
			<a href="/painting/9" ><img src="/images/img9_320.jpg" alt="" title="click for full image" width="320" /></a>
		</div>
		<div class="spacer"></div>			
		<div class="image" style="height:220px">
			<a href="/painting/13" ><img src="/images/img13_320.jpg" alt="" title="click for full image" width="320" /></a>
		</div>
		<div class="spacer"></div>			
		<div class="image" style="height:302px">
			<a href="/painting/16" ><img src="/images/img16_320.jpg" alt="" title="click for full image" width="320" /></a>
		</div>
		<div class="spacer"></div>	
		<div class="image" style="height:428px">
			<a href="/painting/3" ><img src="/images/img3_320.jpg" alt="" title="click for full image" width="320"  /></a>
		</div>
		<div class="spacer"></div>
		<div class="image" style="height:431px">
			<a href="/painting/6"><img src="/images/img6_320.jpg" alt="" title="click for full image" width="320" /></a>
		</div>
		<div class="spacer"></div>
	</div>
	<div id="rightColumn">
		<div class="image" style="height:228px">
			<a href="/painting/8" ><img src="/images/img8_320.jpg" alt="" title="click for full image" width="320" /></a>
		</div>
		<div class="spacer"></div>
		<div class="image" style="height:240px">
			<a href="/painting/4" ><img src="/images/img4_320.jpg" alt="" title="click for full image" width="320"  /></a>
		</div>
		<div class="spacer"></div>
		<div class="image" style="height:253px">
			<a href="/painting/5" ><img src="/images/img5_320.jpg" alt="" title="click for full image" width="320"/></a>
		</div>
		<div class="spacer"></div>
		<div class="image" style="height:317px">
			<a href="/painting/14" ><img src="/images/img14_320.jpg" alt="" title="click for full image" width="320" /></a>
		</div>
		<div class="spacer"></div>
		<div class="image" style="height:333px">
			<a href="/painting/15" ><img src="/images/img15_320.jpg" alt="" title="click for full image" width="320" /></a>
		</div>
		<div class="spacer"></div>												
		<div class="image" style="height:422px">
			<a href="/painting/12" ><img src="/images/img12_320.jpg" alt="" title="click for full image" width="320" /></a>
		</div>
		<div class="spacer"></div>
	</div>
	<div class="clear"></div>
</div>