<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" >
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<title>Norma</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<link href="/stylesheets/styles.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div id="container">
			<div id="header">
				<div id="nav" class="jqueryslidemenu">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/about">About Me</a></li>
						<li><a href="mailto:info@example.com?subject='Contact ">Contact Me</a></li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
    <%= yield %>			
		</div><!-- #container -->
		<div id="footer">
			<p><a href="/about/">About Me </a></p>
			<p><a href="mailto:info@example.com?subject='Contact ">Contact Me</a></p>
			<p>Copyright 2012</p>
		</div>
	</body>
</html>
